<!DOCTYPE html>
<html>
  <head>
    <title>React Test</title>
    <style type="text/css">
            @import "stylesheets/main.css";
    </style>        
  </head>

  <body>
  <div id="app"><%- markup %></div>
  <script src="build.js"></script>
  </body>  
</html>
<!--
babel-node server.js
webpack --config webpack.config.js
-->